<form action="/" method="post">
  <section class="form-group">
    <label>Name: </label>
    <input class="form-control" type="text" name="name">
  </section>

  <button class="btn btn-primary" type="submit" name="submit">New Game</button>
</form>
