<form action="/" method="post">
  <section class="form-group">
    <label>Name: </label>
    <input class="form-control" type="text" name="name">
  </section>

  <section class="form-group">
    <label class="radio-inline">Play against: </label>  
    <label class="radio-inline">
      <input type="radio" name="opponent" value="computer"> Computer
    </label>
    <label class="radio-inline">
      <input type="radio" name="opponent" value="human">Human
    </label>
  </section>

  <button class="btn btn-primary" type="submit" name="submit">New Game</button>
</form>