<!DOCTYPE html>
<html>
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <section class="container">
      <%= erb :header %>
      <%= yield %>
    </section>
  </body>
</html>