<section class="text-center">
<h1>Welcome <%= @name %>!</h1>

<a href="/multiplayer_winner?choice=rock&player=<%= @name %>">
  <button class="btn btn-info">Rock
  </button>
</a>
<a href="/multiplayer_winner?choice=paper&player=<%= @name %>">
  <button class="btn btn-warning">Paper
  </button>
</a>
<a href="/multiplayer_winner?choice=scissors&player=<%= @name %>">
  <button class="btn btn-danger">Scissors
  </button>
</a>