<section class="text-center">
<h2>Welcome <%= @name %>!</h2>

<a href="/winner?choice=rock">
  <button class="btn btn-info">ROCK
  </button>
</a>
<a href="/winner?choice=paper">
  <button class="btn btn-warning btn-middle">PAPER
  </button>
</a>
<a href="/winner?choice=scissors">
  <button class="btn btn-danger">SCISSORS
  </button>
</a>