<h1>Welcome <%= @name %>!</h1>

<a href="/winner?choice=rock">
  <button class="btn btn-info">Rock
  </button>
</a>
<a href="/winner?choice=paper">
  <button class="btn btn-warning">Paper
  </button>
</a>
<a href="/winner?choice=scissors">
  <button class="btn btn-danger">Scissors
  </button>
</a>